In [1]:
#Importamos las librerias requeridas
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

In [ ]:
df= pd.read_excel('Datos de Facturación.xlsx')
df

In [ ]:
# Cargar el Archivo Excel
file_path = 'Datos de Facturación.xlsx'
excel_data = pd.ExcelFile(file_path)

In [ ]:
# Cargar la hoja especifica
df = excel_data.parse('FaACTURACIÓN 2019-2023')

In [ ]:
# Convertirlo a numerico, convirtiendo errores a NaN
df["CVE_CLPV"] = pd.to_numeric(df["CVE_CLPV"], errors="coerce")

In [ ]:
#  Eliminar filas donde CVE_CLP es NaN
df = df.dropna(subset=["CVE_CLPV"])

FILTRO 1-CVE_CLPV (Valores: 1000 a 2000)

In [ ]:
filtro1 = df[(df["CVE_CLPV"] >= 1000) & (df["CVE_CLPV"] <= 2000)]
filtro1

,CVE_DOC,CVE_CLPV,STATUS,CVE_VEND,FECHAELAB,FECHA_DOC,FECHA_ENT,FECHA_VEN,FECHA_CANCELA,CAN_TOT,DES_TOT,DES_FIN
18,F29432,1965.0,C,2.0,2019-09-05 11:05:04.000,2019-09-05,2019-09-05 00:00:00,2019-09-20,2019-09-06,976.50,0.00,0.0
22,F29436,1965.0,C,2.0,2019-09-06 12:01:36.000,2019-09-06,2019-09-06 00:00:00,2019-09-21,2019-09-12,976.50,0.00,0.0
65,F29479,1240.0,E,2.0,2019-09-11 18:38:45.000,2019-09-11,2019-09-11 00:00:00,2019-09-11,NaT,4135.00,0.00,0.0
71,F29485,1965.0,C,2.0,2019-09-12 12:14:28.000,2019-09-12,2019-09-12 00:00:00,2019-09-27,2019-09-12,976.50,146.48,0.0
72,F29486,1965.0,E,2.0,2019-09-12 12:25:52.000,2019-09-12,2019-09-12 00:00:00,2019-09-27,NaT,976.50,146.48,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
10821,F40237,1757.0,E,2.0,2023-02-24 15:18:17.570,2023-02-24,2023-02-13 00:00:00,2023-02-24,NaT,10088.40,0.00,0.0
10839,F40255,1583.0,E,2.0,2023-02-28 09:15:45.753,2023-02-28,2023-02-28 00:00:00,2023-03-30,NaT,3467.35,0.00,0.0
10845,F40261,1786.0,E,2.0,2023-02-28 11:15:32.527,2023-02-28,2023-03-03 00:00:00,2023-02-28,NaT,4663.80,0.00,0.0
10871,F40287,1453.0,E,1.0,2023-03-01 12:58:23.397,2023-03-01,2023-02-27 00:00:00,2023-03-31,NaT,9000.00,0.00,0.0
10876,F40292,1082.0,E,6.0,2023-03-02 11:00:54.770,2023-03-02,2023-03-01 00:00:00,2023-03-02,NaT,3262.00,0.00,0.0

2-CVE_VEND     (Todas las claves excepto “5” y “4”)

In [13]:
filtro2 = df[~df["CVE_VEND"].isin([5, 4])]
filtro2

,CVE_DOC,CVE_CLPV,STATUS,CVE_VEND,FECHAELAB,FECHA_DOC,FECHA_ENT,FECHA_VEN,FECHA_CANCELA,CAN_TOT,DES_TOT,DES_FIN
0,F29414,2465.0,C,1.0,2019-09-03 08:58:42.000,2019-09-03,2019-09-03 00:00:00,2019-09-18,2019-09-04,3980.00,0.0,0.0
1,F29415,3926.0,C,1.0,2019-09-03 09:55:14.000,2019-09-03,2019-09-03 00:00:00,2019-10-03,2019-09-03,1550.00,0.0,0.0
2,F29416,3926.0,C,1.0,2019-09-03 13:25:33.000,2019-09-03,2019-09-03 00:00:00,2019-10-03,2019-09-03,1550.00,0.0,0.0
3,F29417,3926.0,C,1.0,2019-09-03 13:33:23.000,2019-09-03,2019-09-03 00:00:00,2019-10-03,2019-09-17,1550.00,0.0,0.0
4,F29418,6813.0,C,2.0,2019-09-03 14:23:45.000,2019-09-03,2019-09-03 00:00:00,2019-09-03,2019-09-10,2435.44,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
10890,F40306,8842.0,E,2.0,2023-03-06 16:09:39.013,2023-03-06,2023-03-01 00:00:00,2023-03-06,NaT,3272.00,0.0,0.0
10891,F40307,6218.0,NaN,2.0,2023-03-06 16:38:42.933,2023-03-06,2023-03-06 00:00:00,2023-03-06,NaT,504.15,0.0,0.0
10892,NaN,5926.0,E,2.0,2023-03-06 17:02:33.390,2023-03-06,2023-03-06 00:00:00,2023-03-06,NaT,275.68,0.0,0.0
10893,F40309,361.0,E,2.0,2023-03-07 12:43:49.567,2023-03-07,2023-03-07 00:00:00,2023-03-07,NaT,129.30,0.0,0.0
10894,F40310,3011.0,E,2.0,2023-03-07 12:45:58.407,2023-03-07,2023-03-01 00:00:00,2023-03-07,NaT,517.20,0.0,0.0

3-FECHA_ENT   (Fechas de “28/02/2022”)

In [20]:
filtro3 = df[df["FECHA_ENT"] == "28-02-2022"]
filtro3

Empty DataFrame
Columns: [CVE_DOC, CVE_CLPV, STATUS, CVE_VEND, FECHAELAB, FECHA_DOC, FECHA_ENT, FECHA_VEN, FECHA_CANCELA, CAN_TOT, DES_TOT, DES_FIN]
Index: []

4-CAN_TOT       (Cantidades menores a 5951.7)   o  STATUS (“E”)

In [21]:
filtro4 = df[(df["CAN_TOT"] < 5951.7) | (df["STATUS"] == "E")]
filtro4

,CVE_DOC,CVE_CLPV,STATUS,CVE_VEND,FECHAELAB,FECHA_DOC,FECHA_ENT,FECHA_VEN,FECHA_CANCELA,CAN_TOT,DES_TOT,DES_FIN
0,F29414,2465.0,C,1.0,2019-09-03 08:58:42.000,2019-09-03,2019-09-03 00:00:00,2019-09-18,2019-09-04,3980.00,0.0,0.0
1,F29415,3926.0,C,1.0,2019-09-03 09:55:14.000,2019-09-03,2019-09-03 00:00:00,2019-10-03,2019-09-03,1550.00,0.0,0.0
2,F29416,3926.0,C,1.0,2019-09-03 13:25:33.000,2019-09-03,2019-09-03 00:00:00,2019-10-03,2019-09-03,1550.00,0.0,0.0
3,F29417,3926.0,C,1.0,2019-09-03 13:33:23.000,2019-09-03,2019-09-03 00:00:00,2019-10-03,2019-09-17,1550.00,0.0,0.0
4,F29418,6813.0,C,2.0,2019-09-03 14:23:45.000,2019-09-03,2019-09-03 00:00:00,2019-09-03,2019-09-10,2435.44,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
10890,F40306,8842.0,E,2.0,2023-03-06 16:09:39.013,2023-03-06,2023-03-01 00:00:00,2023-03-06,NaT,3272.00,0.0,0.0
10891,F40307,6218.0,NaN,2.0,2023-03-06 16:38:42.933,2023-03-06,2023-03-06 00:00:00,2023-03-06,NaT,504.15,0.0,0.0
10892,NaN,5926.0,E,2.0,2023-03-06 17:02:33.390,2023-03-06,2023-03-06 00:00:00,2023-03-06,NaT,275.68,0.0,0.0
10893,F40309,361.0,E,2.0,2023-03-07 12:43:49.567,2023-03-07,2023-03-07 00:00:00,2023-03-07,NaT,129.30,0.0,0.0
10894,F40310,3011.0,E,2.0,2023-03-07 12:45:58.407,2023-03-07,2023-03-01 00:00:00,2023-03-07,NaT,517.20,0.0,0.0

5-Solo las columnas: CVE_DOC, FECHA_ENT, FECHA_VEN y CAN_TOT

In [25]:
filtro5 = df.iloc[ : , [0,6,7,9]]
filtro5

      CVE_DOC            FECHA_ENT  FECHA_VEN  CAN_TOT
0      F29414  2019-09-03 00:00:00 2019-09-18  3980.00
1      F29415  2019-09-03 00:00:00 2019-10-03  1550.00
2      F29416  2019-09-03 00:00:00 2019-10-03  1550.00
3      F29417  2019-09-03 00:00:00 2019-10-03  1550.00
4      F29418  2019-09-03 00:00:00 2019-09-03  2435.44
...       ...                  ...        ...      ...
10890  F40306  2023-03-01 00:00:00 2023-03-06  3272.00
10891  F40307  2023-03-06 00:00:00 2023-03-06   504.15
10892     NaN  2023-03-06 00:00:00 2023-03-06   275.68
10893  F40309  2023-03-07 00:00:00 2023-03-07   129.30
10894  F40310  2023-03-01 00:00:00 2023-03-07   517.20

[10830 rows x 4 columns]

6-Solo las filas de 7001-7099

In [27]:
filtro6= df.iloc[7000:7100,:]
filtro6

,CVE_DOC,CVE_CLPV,STATUS,CVE_VEND,FECHAELAB,FECHA_DOC,FECHA_ENT,FECHA_VEN,FECHA_CANCELA,CAN_TOT,DES_TOT,DES_FIN
7037,F36453,8437.0,E,2.0,2021-10-19 15:34:17.097,2021-10-19,2021-10-19 00:00:00,2021-10-19,NaT,267.2500,0.0,0.0
7038,F36454,5926.0,E,2.0,2021-10-19 17:04:17.450,2021-10-19,2021-10-19 00:00:00,2021-10-19,NaT,232.5274,0.0,0.0
7039,F36455,161.0,E,1.0,2021-10-20 08:26:23.640,2021-10-20,2021-10-20 00:00:00,2021-11-19,NaT,1230.0000,0.0,0.0
7040,F36456,9.0,E,1.0,2021-10-20 08:32:32.347,2021-10-20,2021-10-22 00:00:00,2021-11-19,NaT,9108.0000,0.0,0.0
7041,F36457,3686.0,E,2.0,2021-10-20 10:07:54.220,2021-10-20,2021-10-18 00:00:00,2021-11-04,NaT,1215.5000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
7132,F36548,8486.0,E,2.0,2021-10-29 16:42:02.377,2021-10-29,2021-11-05 00:00:00,2021-10-29,NaT,4136.0000,0.0,0.0
7133,F36549,8481.0,C,2.0,2021-10-29 16:50:53.997,2021-10-29,2021-10-29 00:00:00,2021-10-29,2021-10-29,431.0380,0.0,0.0
7134,F36550,8483.0,E,2.0,2021-10-29 16:54:21.560,2021-10-29,2021-10-29 00:00:00,2021-10-29,NaT,862.0650,0.0,0.0
7135,F36551,4375.0,E,1.0,2021-10-29 16:55:00.790,2021-10-29,2021-10-29 00:00:00,2021-12-13,NaT,412116.9200,0.0,0.0
7136,F36552,1600.0,E,6.0,2021-10-29 16:58:43.837,2021-10-29,2021-10-29 00:00:00,2021-10-29,NaT,11662.0000,0.0,0.0

7-Index= CVE_VEND (valores: 1, 2)  (columna: FECHAELAB)

In [28]:
filtro7 = df[df["CVE_VEND"].isin([1, 2])].set_index("CVE_VEND")[["FECHAELAB"]]
filtro7

                       FECHAELAB
CVE_VEND
1.0      2019-09-03 08:58:42.000
1.0      2019-09-03 09:55:14.000
1.0      2019-09-03 13:25:33.000
1.0      2019-09-03 13:33:23.000
2.0      2019-09-03 14:23:45.000
...                          ...
2.0      2023-03-06 16:09:39.013
2.0      2023-03-06 16:38:42.933
2.0      2023-03-06 17:02:33.390
2.0      2023-03-07 12:43:49.567
2.0      2023-03-07 12:45:58.407

[8627 rows x 1 columns]

In [29]:
filtro1.to_csv("Filtro 1")

In [30]:
filtro2.to_csv("Filtro 2")

In [31]:
filtro3.to_csv("Filtro 3")

In [32]:
filtro4.to_csv("Filtro 4")

In [33]:
filtro5.to_csv("Filtro 5")

In [34]:
filtro6.to_csv("Filtro 6")

In [35]:
filtro7.to_csv("Filtro 7")